.SelectContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 50px !important;
    margin-bottom: 30px !important; */
    width: 80%;
    height: 80%;
    background-color: red;
    padding: 30px;
    border-radius: 40px;
}

.Menu img {
    height: 100% !important;
}

.CardContainer {
    margin-top: 20px;
}

.CardElement {
    /* padding: 0 10px !important; */
    /* margin: 10px 0 !important; */
    position: relative;
    overflow: hidden !important;
    max-height: max-content !important;
}

.CardTitle {
    background-color: white;
    padding: 10px;
    height: 60px;
    width: 100%;
    margin-top: -7px;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;

    z-index: 10 !important;
}

.CardTitle p {
    width: 80%;
    font-size: 12px;
}

.CakePrice {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    /* padding-top: 6px; */
}

.Description {
    position: absolute;
    top: calc(100%);
    /* bottom: 0; */
    padding: 20px;
    border-radius: 30px 30px 0 0;
    /* right: -10px; */
    height: 100%;
    /* width: calc(100% - 20px); */
    width: calc(100% + 2px);
    background-color: white;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    overflow: scroll;
    font-size: 12px;
}

.Description-active {
    top: 0px;
}
