.SelectContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    transition: all 1s ease-in-out;
}

.changeCakeButton {
    background-color: transparent;
    border: none;
    /* width: 30px; */
    height: 2rem;
    margin: auto 5px;
    font-size: 2rem;
    line-height: 2rem;
    cursor: pointer;
}

.changeCakeButton:focus {
    background-color: transparent;
}

.Menu {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 50px ;
    margin-bottom: 30px ; */
    width: 100vw;
    height: 100%;
    height: calc(100% - 100px);
    background-color: rgba(93, 123, 234, 0.5);
    /* padding: 30px; */
    /* padding-top: 100px; */
    /* border-radius: 40px; */
}

.CakesDisplay {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 30vh;
}

.CakesDisplayImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 40px; */
    width: 80vw;
    height: 100%;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* max-width: 250px; */
    width: calc((100% - 80px) / 5);
    max-width: calc(30vh - 52.39px);
    /* width: auto; */
}

.CardElement {
    /* padding: 0 10px ; */
    /* margin: 10px 0 ; */
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    flex-grow: 1;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.cakeImg {
    height: 100%;
    min-width: 100%;
    display: block;
}

.CardTitle {
    background-color: white;
    padding: 10px;
    height: 60px;
    width: 100%;
    /* margin-top: -7px; */
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;

    z-index: 10;
}

.CardTitle p {
    /* width: 80%; */
    font-size: 12px;
}

.CakePrice {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    /* padding-top: 6px; */
}

.Description {
    position: absolute;
    top: calc(100%);
    /* bottom: 0; */
    padding: 20px;
    border-radius: 30px 30px 0 0;
    /* right: -10px; */
    height: 100%;
    /* width: calc(100% - 20px); */
    width: calc(100% + 2px);
    background-color: white;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    overflow: scroll;
    font-size: 12px;
}

.Description-active {
    top: 0px;
}

.ChosenCakeDisplay {
    /* padding: 40px; */
    display: flex;
    justify-content: center;
    height: 30vh;
    gap: 30px;
    width: 100%;
    /* flex-direction: column; */
}

.ChosenCakeDisplayImage {
    /* margin-left: 39px; */
}

#ChosenCakeImage {
    border-radius: 40px;
    height: 100%;
}

.ChosenCakeDisplayContent {
    /* flex-grow: 1; */
    /* margin-left: 30px; */
    min-height: 250px;
    max-width: 600px;
    border-radius: 30px;
    /* margin: 0 auto; */
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.singleMenuCake {
    display: flex;
    justify-content: center;
}

.ChosenCakeDisplayContent h4 {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    /* height: 30px; */
}

.ChosenCakeDisplayContent p {
    font-size: 12px;
    /* min-height: 40px; */
    /* padding: 0 30px; */
}

#cakeDescription {
    /* color: red; */
    /* height: 60px; */
    /* width: 90%;
    margin: 0 auto; */
}

/* .ChosenCakeDisplayContent button {
    background-color: rgba(93, 123, 234, 0.5);
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ChosenCakeDisplayContent button:hover {
    background-color: rgba(0, 0, 0, 0.2);
} */

.CakesQuantity {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    justify-self: flex-end;
}

.CakesQuantity h6 {
    margin-right: 10px;
}

.ChosenCakePrice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChosenCakeDeliveryDate {
    display: flex;
    /* flex-direction: column; */
}

.ChosenCakeDeliveryDate p {
    flex-grow: 1;
    /* color: red; */
    line-height: 45px;
    font-size: 16px;
    /* margin-right: auto; */
    /* width: 300px; */
}

#DeliveryDate {
    width: 220px;
    /* font-size: 22px; */
}

.AddToCartMenu {
    /* padding: 20px; */
    border-radius: 15px;
    border: none;
    text-align: center;
    line-height: 100%;
    padding: 15px;
    background-color: rgba(93, 123, 234, 0.5);
    cursor: pointer;
    /* width: 150px; */
    /* height: 60px ; */
    /* margin: 0 auto ; */
}

.AddToCartContainerMenu {
    width: 100%;
    /* height: 80px; */
    display: flex;
    justify-content: center;
    /* margin: 20px 0 60px 0; */
}

.PriceQuantityAddToCart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    /* align-items: center; */
}

.PriceQuantity {
    display: flex;
    gap: 20px;
}
@media all and (max-width: 1023px) {
    .ChosenCakeDisplay {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 80px;
        height: 100%;
        width: 100%;
        padding-top: 50px;
        /* max-width: 400px; */
        /* background-color: blue; */
    }

    .singleMenuCake {
        width: 80%;
    }

    #ChosenCakeImage {
        width: 256px;
    }

    .ChosenCakeDisplayImage {
        margin-left: 0px;
        /* margin-bottom: 20px; */
    }
    .ChosenCakeDisplayImage img {
        border-radius: 40px;
        width: 220px;
    }

    .ChosenCakeDisplayContent {
        margin-left: 0px;
        width: 80%;
        max-width: 380px;
        min-height: fit-content;
        box-sizing: content-box !important;
        /* max-height: 300px; */
    }

    .ChosenCakeDisplayContent p {
        font-size: 10px;
        /* padding: 0 30px; */
    }
    .PriceQuantity h6 {
        font-size: 12px;
    }

    #DeliveryDate {
        font-size: 12px;
        width: 120px;
    }

    .PriceQuantity {
        padding-top: 20px;
        flex-direction: column;
        gap: 0;
        justify-content: flex-end;
    }

    .CakesQuantity {
        justify-content: center;
    }

    .ChosenCakeDeliveryDate {
        justify-content: space-evenly;
    }

    .ChosenCakeDeliveryDate p {
        flex-grow: unset;
    }
}

@media all and (max-width: 400px) {
    .ChosenCakeDisplayContent > p {
        font-size: 8px;
        /* padding: 0 30px; */
    }

    #DeliveryDate {
        width: 45px;
    }

    .ChosenCakeDisplayContent h4 {
        font-size: 16px;
    }
}

@media all and (min-width: 2560px) {
    .CardTitle p {
        font-size: 22px;
    }

    .ChosenCakeDisplayContent {
        /* height: 600px; */
        gap: 20px;
        margin: 0;
        min-height: 400px;
        padding: 30px;
        width: 800px;
        max-width: none;
    }

    .ChosenCakeDisplayContent h4 {
        font-size: 36px;
    }

    .ChosenCakeDisplayContent p {
        font-size: 24px;
    }

    .ChosenCakePrice p,
    .CakesQuantity p {
        font-size: 24px;
        line-height: 40px;
    }

    .ChosenCakeDisplay {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .singleMenuCake {
        min-width: 600px;
    }

    .ChosenCakeDisplayImage {
        margin: 0;
    }

    .CardElement img {
        height: 100%;
        width: inherit;
    }

    .ChosenCakeDisplayImage img {
        height: 100%;
        width: fit-content;
        margin: 0;
    }

    .CardContainer {
        width: clamp(300px, 17%, 600px);
    }

    .changeCakeButton {
        font-size: 3rem;
    }

    .PriceQuantityAddToCart {
        gap: 40px;
    }

    #cakeDescription {
        margin-top: 30px;
    }

    .AddToCartMenu {
        font-size: 20px;
    }

    .CakePrice {
        font-size: 24px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
}
