.cake {
    width: 355px;
    height: auto;
    margin: 0 auto;
}

.CakeBuilderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    position: relative;
}

.CakeBuilderFirstColumn {
    justify-self: end;
    border-right: 1px solid black;
    height: 100%;
    padding: 5px;
}

.CakeBuilderFirstRow {
    border-bottom: 1px solid black;
    height: 100%;
}

.cake {
    color: blue;
    width: 80px;
    text-align: end;
    padding-right: 20px;
}

th {
    color: red;
    /* width: 70px; */
    text-align: center;
}

.CakeBuilderControls {
    display: flex;
    height: 244px;
}

.NumLayersControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
    /* height: 244px; */
    align-items: center;
    /* font-size: 18px; */
}

.NumLayersIcons {
    /* width: 80px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media all and (max-width: 840px) {
    .CakeBuilderContainer {
        flex-direction: column;
    }
}

@media all and (max-width: 1024px) {
    .CakeBuilderContainer {
        justify-content: space-evenly;
    }
    .NumLayersControl {
        margin: 0 10px;
    }
}
