.StaffContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    padding-top: 100px;
}

.StaffContainer > p {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
}

.StaffContainer h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.CardWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

@media all and (max-width: 1023px) {
    .CardWrapper {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .StaffContainer {
        padding-top: 100px;
    }

    .StaffContainer h3 {
        font-size: 1.5rem;
    }

    .StaffContainer > p {
        font-size: 1rem;
    }
}

@media all and (min-width: 2560px) {
    .StaffContainer h3 {
        font-size: 60px;
    }

    .StaffContainer > p {
        font-size: 30px;
    }

    .StaffCardContainer {
        width: clamp(500px, 35%, 800px);
    }

    .StaffCardContainer > div {
        font-size: 30px;
    }

    .TeamInfo > p {
        font-size: 24px;
    }
}
