.StaffContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  /* margin: 0 100px; */
  /* margin: 100px auto; */
  /* padding-bottom: 100px; */
  background: linear-gradient(118deg, #fbab7e 0%, #f7ce68 100%);
}

.StaffContainer > p {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

.StaffContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.CardWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

@media all and (max-width: 1023px) {
  .CardWrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .StaffContainer {
    padding: 0;
  }

  .StaffContainer h3 {
    font-size: 1.5rem;
  }

  .StaffContainer > p {
    font-size: 1rem;
  }
}
