.StaffCardContainer {
    width: clamp(200px, 35%, 500px);
}

.StaffCardContainer > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.TeamInfo > p {
    width: 100px;
    font-size: 12px;
    /* color: red; */
}

.StaffCardContainer > img {
    object-fit: cover;
    width: 90%;
    border-radius: 25px;
}

@media all and (max-width: 1023px) {
    .StaffCardContainer > img {
        width: 80%;
    }
}

@media all and (max-width: 425px) {
    .StaffCardContainer > img {
        width: 95%;
    }
}
