.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

.Links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    height: 100%;
    width: clamp(500px, 50%, 1500px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Links p {
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Links p:hover {
    color: orange;
}

#cakesie {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 30px;
    cursor: pointer;
    margin: 0;
}

#cakesie > span {
    color: orange;
}

.NavbarRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
}

.NavbarRight > p {
    font-size: 1.1rem;
    padding: 10px 15px;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.NavbarRight > p:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#shoppingCart {
    font-size: 1.5rem;
    width: 70px;
    display: flex;
    justify-content: space-between;

    position: relative;
    cursor: pointer;
}

#cartAmount {
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    /* color: red; */
    right: 30px;
    top: -10px;
    /* background-color: white; */
    padding: 5px;
    border-radius: 50%;
}

@media all and (max-width: 1023px) {
    .Links {
        display: none;
    }

    .NavbarRight > p {
        display: none;
    }

    .NavbarRight {
        justify-content: right;
        margin-left: auto;
    }

    #cakesie {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media all and (min-width: 2560px) {
    .Navbar {
        height: 150px;
    }

    #cakesie {
        font-size: 3.5rem;
        margin-left: 20px;
    }

    .Links > a {
        font-size: 2rem;
    }

    #shoppingCart {
        font-size: 45px;
        width: 140px;
    }

    #shoppingCart > p {
        font-size: 28px;
    }
}
