.Navbar {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 15px;
}

.NavLink {
    cursor: pointer;
}

#cakesie {
    font-size: 2rem;
    font-weight: 700;
    margin: 10px auto;
}

#shoppingCart {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    width: 70px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

#cartAmount {
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    /* color: red; */
    right: 30px;
    top: -10px;
    /* background-color: white; */
    padding: 5px;
    border-radius: 50%;
}
