.CakeDetailsContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    /* flex-direction: row; */
}

.LeftSide {
    width: 50%;
}

.ZoomedImage {
    width: 100%;
}

.ZoomedImage img {
    width: 80%;
    max-width: 500px;
    border-radius: 30px;
}

.RightSide {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.TitlePrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.TitlePrice h5:first-of-type {
    align-self: center;
    /* font-size: 22px; */
}

.Rating {
    display: flex;
}

.Arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.AddToCart {
    padding: 10px;
    justify-self: flex-end;
    border-radius: 15px;
    border: none;
}

.CakesQuantity {
    display: flex;
}

.QuantityCart {
    /* padding: 20px 0 !important; */
}
