.blobContainer {
    position: relative;
    /* flex-grow: 1; */
    width: 50vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* background-size: contain; */
}

.blobContainer svg {
    position: absolute;
    width: 700px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blobContainer > img {
    position: absolute;
    width: 350px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (max-width: 1023px) {
    .blobContainer {
        flex-grow: unset;
        /* height: 700px; */
        width: 100vw;
        height: 40vh;
        margin-top: 20px;
    }

    .blobContainer svg {
        width: clamp(350px, 80%, 600px);
        /* height: 100%; */
    }

    .blobContainer img {
        width: clamp(200px, 40%, 300px);
    }
}
