.IntroContainer {
    display: flex;
    height: calc(100vh - 100px);
    margin-top: 100px;
}

.IntroText {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    /* margin-top: -50px; */
    /* padding-right: 100px; */
}

.IntroText > h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
}

.slogan {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 50vw;
    margin: 50px auto;
    margin-bottom: 20px;
    /* width: clamp(500px, 80%, 800px); */
    grid-gap: 10px 0px;
}

.slogan > p {
    text-align: center;
    font-size: clamp(28px, 3vw, 70px);
    /* font-size: 4vw; */
    /* font-size: 20px; */
    position: relative;
    line-height: 44px;
}

.slogan > p:nth-child(2n + 1) {
    font-weight: 900;
}

.slogan > p:first-child,
.slogan > p:nth-child(3) {
    font-size: clamp(36px, 3vw, 100px);
}

.slogan > p:first-child {
    text-align: right;
    /* font-size: 40px; */
    /* font-size: clamp(40px, 3vw, 100px); */
}

.slogan > p:first-child::before,
.slogan > p:nth-child(3)::before {
    content: "";
    color: aqua;
    position: absolute;
    /* font-size: 48px; */
    font-size: clamp(36px, 3.1vw, 100px);
    z-index: -1;
    /* top: 2px; */
    /* letter-spacing: -3px; */
    /* top: 50%;
    left: 50%; */
    /* transform: translateX(-50%); */
    filter: blur(15px);
}

.slogan > p:first-child::before {
    content: "CREATE";
    /* left: 26px; */
    right: 0;
    color: red;
}

.slogan > p:nth-child(2) {
    line-height: 44px;
}

.slogan > p:nth-child(3) {
    text-align: left;
    /* font-size: 40px; */
}

.slogan > p:nth-child(3)::before {
    content: "SELECT";
    left: 0px;
    color: blue;
}

.slogan > p:last-child {
    grid-column: 1/4;
    font-size: clamp(20px, 0.5vw, 40px);
    letter-spacing: clamp(2px, 0.5vw, 8px);
    padding-left: 18px;
}

.intro_cake {
    max-width: 400px;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .IntroContainer {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .IntroText {
        width: 100%;
    }

    .slogan {
        width: 100vw;
        margin-top: 20px;
    }

    .slogan > p:last-child {
        padding: 0;
        font-size: clamp(18px, 2vw, 40px);
        letter-spacing: 1vw;
    }

    .slogan > p:first-child,
    .slogan > p:nth-child(3) {
        font-size: clamp(32px, 5vw, 100px);
    }

    /* .slogan > p:first-child,
    .slogan > p:nth-child(3) {
        font-size: 20px;
    } */
}

/* @media screen and (min-width: 1024px) {
    .slogan {
        font-size: 2.5rem;
    }
} */
