html,
body {
    height: 100%;
    --big-screen: 1023px;
    --tablet-screen: 767px;
    --small-screen: 479px;
}

:root {
    --test: white;
}

/* #root {
    height: 100%;
    display: flex;
    flex-direction: column;
} */
