.CakeOutside {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 320px;
    /* width: 70%; */
    margin: 0 auto;
    /* justify-content: center; */
}

.WholeCakeContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    position: relative;
}
